/******  SIDEBAR  ******/

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4.8rem 21rem 11.5rem 18rem 32rem 30rem;
  height: 122rem;
  padding: 2.4rem;
  border: 1px solid #0000001a;
  border-radius: 2rem;
  box-shadow: 0 4px 8px #00000003;
}

.side-bar-btn {
  display: none;
  width: 5rem;
  height: 5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.filter {
  padding: 1rem;
}

.products-container {
  display: grid;
  grid-template-columns: 29rem 1fr;
  gap: 2rem;
  margin: 3rem 0;
}

/**************************/
/**** CATEGORY SECTION ****/
/**************************/

.products-page {
  margin: 3.2rem 0;
}

/* breadcrumb */

.breadcrumb {
  font-size: 1.6rem;
  display: flex;
  gap: 1rem;
}

.casual {
  color: #000;
}

nav a {
  font-size: 1.6rem;
  color: #00000099;
  text-decoration: none;
}

.category-1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid #0000001a;
}

h3 {
  font-size: 2rem;
}

.filter-btn-1 {
  width: 2.4rem;
  height: 2.4rem;
  color: #00000066;
  background: none;
  border: none;
  cursor: pointer;
}

.category-2 {
  padding: 2.4rem 0;
  border-bottom: 1px solid #0000001a;
}

.category-2 nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.category-2 nav a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-3,
.category-4,
.category-5 {
  padding: 2.4rem 0;
  border-bottom: 1px solid #0000001a;
}

.colors,
.size-btns,
.style-nav {
  padding-top: 2rem;
}

.price-part,
.colors-part,
.size-part,
.style-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.price-selection input {
  width: 100%;
  background: transparent;
  position: relative;
}

.price-selection input::-webkit-slider-runnable-track {
  background: #ddd;
  height: 5px;
}

.price-selection input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  background: #000;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-top: -4px;
}

.price-amounts {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  margin-top: 5px;
}

.colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1.6rem;
}

.color-btn {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  border: 1px solid #00000033;
  cursor: pointer;
}

.size-btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.size-btn {
  font-size: 1.4rem;
  padding: 1rem 2rem;
  color: #00000099;
  border: none;
  cursor: pointer;
  border-radius: 6.2rem;
}

.selected {
  color: #fff;
  background: #000;
}

.category-6 {
  padding: 2.4rem 0;
}

.style-nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.style-nav a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apply-btn {
  margin-top: 2rem;
  font-size: 1.4rem;
  width: 100%;
  padding: 1.6rem 0;
  color: #fff;
  background: #000;
  border: none;
  cursor: pointer;
  border-radius: 6.2rem;
}

p strong {
  color: #000;
}

/**************************/
/***  CATEGORY PRODUCTS ***/
/**************************/
.all-products {
  margin-bottom: 12rem;
}

.products-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-title h2 {
  font-size: 3.2rem;
}

.products-title p {
  font-size: 1.6rem;
  color: #00000099;
}

.all-images {
  width: 100%;
  height: 26.4rem;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 2fr);
  column-gap: 2rem;
  row-gap: 4rem;
  padding: 2rem 0;
  border-bottom: 1px solid #0000001a;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.rate-number {
  font-size: 1.4rem;
  margin-left: 0.8rem;
}

.name {
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 4px;
}

.price {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
}

.old-price {
  color: #0000004d;
  text-decoration: line-through;
}

.discount {
  color: #ff3333;
  background-color: #ff33331a;
  padding: 6px;
  border-radius: 5rem;
  font-size: 1.4rem;
}

/* ------ pagination ------ */

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
}

.pag-btn {
  display: flex;
  align-items: center;
  background: none;
  border: 1px solid #0000001a;

  border-radius: 0.8rem;
  font-size: 1.4rem;
  gap: 1rem;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
}

.pag-link:link,
.pag-link:visited,
.dots {
  font-size: 1.4rem;
  text-decoration: none;
  color: #00000080;
  padding: 1rem 1.6rem;
  border-radius: 0.8rem;
}

.pag-link:hover,
.pag-link:active,
.pag-link.pag-link--current {
  background-color: #0000000f;
  color: #000;
}

/***********************************/
/******** CATEGORY RESPONSIVE *******/
/***********************************/
/**************************/
/* BELOW 1244px */
/**************************/
@media (max-width: 77.5em) {
  .products-container {
    grid-template-columns: 26rem 1fr;
  }

  .newsletter {
    left: 5.2%;
  }

  .footer-content {
    padding: 10rem 1rem 3.6rem 1rem;
  }
}

/**************************/
/* BELOW 1100px */
/**************************/
@media (max-width: 68.75em) {
  html {
    font-size: 56.25%;
  }

  .header-logo,
  .footer-title,
  .newsletter p {
    font-size: 3.2rem;
  }

  .newsletter {
    top: -18%;
  }

  .newsletter a:link,
  .newsletter a:visited,
  .newsletter input {
    padding: 1rem 1.6rem;
  }

  .footer-content {
    padding: 8rem 0 3.6rem 0;
  }
}

/**************************/
/* BELOW 920px */
/**************************/
@media (max-width: 57.5em) {
  html {
    font-size: 50%;
  }
}

/**************************/
/* BELOW 880px */
/**************************/
@media (max-width: 55em) {
  .sidebar {
    display: none;
  }

  .products-container {
    grid-template-columns: 1fr;
  }

  .all-images {
    height: 36rem;
  }

  .products-title {
    padding: 0 2.4rem;
  }

  .top-bar {
    padding: 1rem 3.4rem;
  }

  .top-bar p {
    margin-left: 0;
  }

  .search-bar {
    display: none;
  }

  .search-icon {
    display: block;
  }

  .products {
    row-gap: 1.4rem;
  }

  .side-bar-btn {
    display: block;
  }

  .footer-links a:link,
  .footer-links a:visited {
    line-height: 1.2;
  }
}

/**************************/
/* BELOW 700px */
/**************************/
@media (max-width: 43.75em) {
  .container {
    padding: 0 2.4rem;
  }

  .top-bar {
    padding: 1rem 2.4rem;
  }

  .all-images {
    height: 28rem;
  }

  .name {
    font-size: 1.8rem;
  }

  .newsletter {
    top: -9%;
    padding: 1.4rem;
  }
  .newsletter p {
    font-size: 2.8rem;
  }

  .header-logo,
  .footer-title {
    font-size: 3rem;
  }

  .newsletter a:link,
  .newsletter a:visited,
  .newsletter input {
    padding: 0.8rem 1.6rem;
  }

  .footer-content {
    padding: 6rem 0 3.6rem 0;
    grid-template-columns: 1.5fr 0.5fr 1fr 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 1rem;
  }
}

/**************************/
/* BELOW 620px */
/**************************/
@media (max-width: 38.75em) {
  .products-page {
    margin: 6rem 0;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .product {
    justify-self: center;
  }

  .skinny-jean {
    grid-column: 1/-1;
    justify-self: center;
  }

  .all-images {
    height: 30rem;
  }

  .newsletter {
    grid-template-columns: 1fr;
    gap: 1.8rem;
    top: -12.5%;
  }

  .newsletter form {
    align-items: anchor-center;
  }

  .newsletter p {
    margin: 0 auto;
    text-align: center;
    padding: 0 3rem;
  }

  .footer {
    padding: 2.4rem 0 4rem 0;
  }

  .footer-content {
    grid-template-columns: 1.5fr 0.5fr 1fr 1fr;
    padding: 9.6rem 0 3.6rem 0;
  }
}

/**************************/
/* BELOW 540px */
/**************************/
@media (max-width: 33.75em) {
  .all-images {
    height: 28rem;
  }

  .products {
    column-gap: 1.6rem;
  }

  .footer-content {
    grid-template-columns: 1.5fr 0.5fr 1fr 1fr;
    padding: 8rem 0 3.6rem 0;
  }

  .top-bar {
    font-size: 1.4rem;
  }

  .cross-btn {
    width: 1.8rem;
    height: 1.8rem;
  }

  .products-title {
    flex-direction: column;
    gap: 1rem;
  }

  .products-title p {
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 1rem;
  }

  .footer-logo img {
    width: 2.4rem;
    height: 2.4rem;
  }
}

/**************************/
/* BELOW 420px */
/**************************/
@media (max-width: 26.25em) {
  .cross-btn {
    display: none;
  }

  .top-bar {
    padding: 0 0.4rem;
    font-size: 1rem;
    justify-content: center;
  }

  .header-title {
    gap: 1.6rem;
  }

  .search-icon,
  .search-icons {
    width: 2.8rem;
    height: 2.8rem;
  }

  .products {
    grid-template-columns: 1fr;
    margin: 0 4rem;
  }

  .product {
    justify-self: center;
  }

  .skinny-jean {
    justify-self: auto;
  }

  .all-images {
    height: auto;
  }

  .pagination {
    flex-direction: column;
    gap: 1.6rem;
  }

  .newsletter {
    top: -10%;
  }

  .newsletter p {
    font-size: 2.3rem;
  }

  .footer-content {
    grid-template-columns: 1.5fr 1fr;
    padding: 9.6rem 0 3.6rem 0;
  }
}

/**************************/
/* BELOW 320px */
/**************************/
@media (max-width: 20em) {
  .container {
    padding: 0 1rem;
  }

  .header {
    flex-direction: column;
    height: 8rem;
  }

  .footer-content {
    padding: 11.6rem 0 3.6rem 0;
  }
}
